<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./images//favicon.ico" type="image/gif" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/fonts.css" />
    <title>Tabi Tab</title>
  </head>
  <body class="--overflow-hidden">
    <img src="./images/bg.png" class="--background"></img>
    
    <div id="loading-section">
      <div class="loading-text-credit">Tabi Tab! Personal Tab List - @2020 Yotsubox</div>
      <div class="loading-text">PLEASE WAIT WARMLY</div>
      <img class="loading-circle" src="./images/circle-arrow-icon.png"/>
      <img class="loading-circle" src="./images/circle-arrow-icon.png"/>
      <div class="loading-text">LOADING...</div>
    </div>
    
    <div id="page" class="--collapse">
      
      <div id="header">
        <div class="flex-group left">
          <h1 class="header__item header__title">Tabi Tab!</h1>
          <img class="header__item get-save-file-btn" src="./images/download-btn.png"/>
          <img class="header__item load-btn" src="./images/load-btn.png"/>
          <img class="header__item delete-all-btn" src="./images/delete-all-btn.png"/>
        </div>
        
        <div class="flex-group right">
          <img class="header__item save-btn" src="./images/save-btn.png" />
          <img class="header__item info-btn" src="./images/info-btn.png" />
        </div>
      </div>
      
      <div class="tab-list-section">
        <div class="list-container"></div>
      </div>
      
      <div class="nav-line">
        <div class="nav-line__heading-container"></div>
      </div>
      
      <div class="notification-container"></div>

    </div>
    
  </body>
  </html>
