/* https://fonts.googleapis.com/css2?family=Pangolin&display=swap */
/* vietnamese */
@font-face {
  font-family: "Pangolin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Pangolin-Regular.ttf);
}
