:root {
  --list-item-order-min-width: 2.6em;
  --list-item-order-padding-right: 0.2em;
  --gray-box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  --option-em-size: 1.2em;
  --list-item-margin-left: 0.9em;
}

body {
  background-color: rgb(199, 207, 214);
  color: black;
  margin: 0;
}

/* HEADER */
#header {
  height: 3em;
  background-color: rgb(85, 116, 126);
  color: white;

  padding: 0 0.5rem;
}

.flex-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.header--title {
  font-size: 2em;
  margin: 0;
}

.header__item {
  /* D */
  /* background-color: red; */

  margin: 0.5rem 0.2rem;
}

.save-btn {
  max-height: 2rem;
}

/* TAB LIST */
.lists-wrapper {
  /* D */
  /* background-color: grey; */

  margin: 2em 35% 2em 2em;
}

.lists {
  font-size: 1.4em;
  font-family: "Pangolin", "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
}

.btn--padding {
  margin-right: 2em;
}

.list {
  margin-bottom: 1em;
  background-color: white;

  box-shadow: var(--gray-box-shadow);
}

.list__item-wrapper {
  /* D */
  /* background-color: blue; */

  margin: 0.5em 4em 2em 1em;
}

.list__title {
  font-size: 1.2em;
  min-height: 1.2em;
  margin: 2em 0em 0.1em 1.5em;
  white-space: nowrap;
  overflow: hidden;
}

.list__item {
  /* D */
  /* background-color: yellow; */
  display: flex;
  margin-left: var(--list-item-margin-left);
}

.list__item-order {
  min-width: var(--list-item-order-min-width);
  padding-right: var(--list-item-order-padding-right);
  text-align: right;
  list-style-type: decimal;
}

.list__item-contentBox {
  /* D */
  /* background-color: red; */

  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
}

.list__item-contentBox--dragging {
  background-color: rgb(189, 171, 194);
}

.list__item--add-more {
  margin-left: calc(
    var(--list-item-margin-left) + var(--list-item-order-min-width) +
      var(--list-item-order-padding-right)
  );
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;

  position: absolute;
  background-color: white;
  outline: 2px solid rgba(0, 0, 0, 0.1);

  animation: lm-fade-in 0.1s ease forwards;
}

.list-menu__option {
  /* D */
  /* background-color: red; */
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
}

.list-menu__option-box {
  min-width: var(--option-em-size);
  min-height: var(--option-em-size);
}

.list-menu__option-name {
  /* D */
  /* background-color: orange; */

  font-size: var(--option-em-size);
  white-space: nowrap;
}

/* ANIMATION AND PSEUDO CLASS */
.list__item--add-more:focus,
.list__item-contentBox:focus,
.list__title:focus {
  outline: 1px solid rgb(133, 158, 180);
}

.list-menu__option:hover:not(:focus),
.list__item--add-more:hover:not(:focus),
.list__item-contentBox:hover:not(:focus):not(.list__item-contentBox--dragging),
.list__title:hover:not(:focus) {
  background-color: rgba(0, 0, 0, 0.05);
}

/* UTILS */
.--gray-scale {
  filter: grayscale(100%);
}

/* ANIMATION */
@keyframes lm-fade-in {
  0% {
    transform: scale(1.5, 0) rotate(-25deg);
    background-color: transparent;
  }

  100% {
    box-shadow: var(--gray-box-shadow);
  }
}
