:root {
  --list-default-background-color: white;
  --list__item-order-min-width: 4rem;
  --list__item-order-padding-right: 0.2rem;
  --gray-box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  --option-em-size: 1.2em;
  --list__item-margin-left: 1.2rem;
  --list__item-margin-right: 4rem;
  --list__item-wrapper-margin-left: 1rem;
  --default-focus-outline-color: rgb(133, 158, 180);
  --list__item-btn-size: 20px;
  --list__item-btn-left-margin: 10px;

  --list__item-btn-count: 2;
}

body {
  background-color: rgb(199, 207, 214);
  color: black;
  margin: 0;
}

/* HEADER */
#header {
  height: 3em;
  background-color: rgb(85, 116, 126);
  color: white;

  padding: 0 0.5rem;
}

.header--title {
  font-size: 2em;
  margin: 0;
}

.header__item {
  /* D */
  /* background-color: red; */

  margin: 0.5rem 0.2rem;
}

.save-btn {
  max-height: 2rem;
}

.btn--padding {
  margin-right: 2em;
}

/* TAB LIST */
.tab-list-section {
  /* D */
  /* background-color: grey; */

  margin: 2em;
}

.list-container {
  font-size: 1.4em;
  font-family: "Pangolin", "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
}

.list {
  max-width: 900px;
  background-color: var(--list-default-background-color);
  box-shadow: var(--gray-box-shadow);
  display: block;
  margin-bottom: 1em;
}

.list__minimize-button {
  /* D */

  text-align: center;
  user-select: none;

  height: 1.2em;
  color: rgba(0, 0, 0, 0.5);
  background-color: var(--list-default-background-color);
}

.list__minimize-padding {
  text-align: center;
  font-size: 2rem;

  position: relative;
  bottom: 1rem;
}

.list__title {
  font-size: 1.2em;

  margin-top: 1rem;
  margin-bottom: 0.2rem;
  margin-left: var(--list__item-order-min-width);
  margin-right: var(--list__item-order-min-width);
  white-space: nowrap;
  overflow: hidden;
}

.list__item-wrapper {
  /* D */
  /* background-color: blue; */
  margin: 0 2rem var(--list__item-wrapper-margin-left);
}

.list__item {
  /* D */
  /* background-color: yellow; */
  display: flex;
  margin-left: var(--list__item-margin-left);
  position: relative;
}

.list__item-order {
  min-width: var(--list__item-order-min-width);
  padding-right: var(--list__item-order-padding-right);
  text-align: right;
  list-style-type: decimal;
}

.list__item-content-box {
  /* D */
  /* background-color: red; */

  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
}

.list__item-content-box--dragging {
  background-color: rgb(189, 171, 194);
}

.list__item-delete-btn,
.list__item-copy-btn {
  margin-left: 10px;
  max-height: var(--list__item-btn-size);
}

.list__item-title-box {
  background: var(--list-default-background-color);

  position: absolute;
  padding: 0.2rem;
  margin-left: 120px;
  left: 100%;
  outline: 4px solid var(--default-focus-outline-color);

  white-space: nowrap;
}

.list__item--add-more {
  margin-left: calc(
    var(--list__item-margin-left) + var(--list__item-order-min-width) +
      var(--list__item-order-padding-right)
  );
  margin-right: calc(
    (var(--list__item-btn-size) + var(--list__item-btn-left-margin)) *
      var(--list__item-btn-count)
  );
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;

  position: absolute;
  background-color: white;
  outline: 2px solid rgba(0, 0, 0, 0.1);

  animation: lm-fade-in 0.1s ease forwards;
}

.list-menu__option {
  /* D */
  /* background-color: red; */
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
}

.list-menu__option-box {
  min-width: var(--option-em-size);
  min-height: var(--option-em-size);
}

.list-menu__option-name {
  /* D */
  /* background-color: orange; */

  font-size: var(--option-em-size);
  white-space: nowrap;
}

/* ANIMATION AND PSEUDO CLASSES */
.list__item--add-more:focus,
.list__item-content-box:focus,
.list__title:focus {
  outline: 1px solid var(--default-focus-outline-color);
}

.list-menu__option:hover:not(:focus),
.list__item--add-more:hover:not(:focus),
.list__item-content-box:hover:not(:focus):not(.list__item-content-box--dragging),
.list__title:hover:not(:focus) {
  background-color: rgba(0, 0, 0, 0.05);
}

.list__minimize-button:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

/* ANIMATION */
@keyframes lm-fade-in {
  0% {
    transform: scale(1.5, 0) rotate(-25deg);
    background-color: transparent;
  }

  100% {
    box-shadow: var(--gray-box-shadow);
  }
}

/* UTILS */
.--gray-scale {
  filter: grayscale(100%);
}

.--collapse {
  display: none;
}

.--hidden {
  visibility: hidden;
}

.--clickable {
  color: rgb(70, 43, 226);
  text-decoration: underline;
}

.flex-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  float: left;
}

.right {
  float: right;
}
